<app-page-content [pageName]="pageName" [loading]="loading">
  <div class="card mb-4">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs justify-content-around">
        <li class="nav-item">
          <a class="nav-link" routerLink="./tab-a" routerLinkActive="active">Tab A</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./tab-b" routerLinkActive="active">Tab B</a>
        </li>
      </ul>
    </div>
    <div class="card-body tab-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</app-page-content>
