:root {
  --app-navbar-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* FONT SIZE */
$normal-text-font-size: 17px;
$heading-1-font-size: 2.5rem;
$heading-2-font-size: 2rem;
$heading-3-font-size: 1.7rem;
$heading-4-font-size: 1.3rem;

html,
body {
  font-size: $normal-text-font-size;
}

h1 {
  font-size: $heading-1-font-size;
}

h2 {
  font-size: $heading-2-font-size;
}

h3 {
  font-size: $heading-3-font-size;
}

h4 {
  font-size: $heading-4-font-size;
}
