<h2 class="text-center mb-4">{{ pageName }}</h2>
<ng-container *ngIf="!loading; else loadingTemplate">
  <!--just for the demo -->
  <ng-content></ng-content>
  <div class="row">
    <div class="col-3 mb-4" *ngFor="let item of items; let index = index">
      <div class="card">
        <img class="card-img-top" src="/assets/image-placeholder.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ 'Card ' + index }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ pageName }}</h6>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, voluptatibus porro aliquam soluta.
          </p>
          <a *ngIf="actionRouterLink && actionName" [routerLink]="actionRouterLink" class="card-link">{{ actionName
            }}</a>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #loadingTemplate>
  <div class="row justify-content-center">
    <div class="spinner-border primary-color" role="status"></div>
  </div>
</ng-template>
