.app-navbar {
  box-shadow: var(--app-navbar-box-shadow);
}

.nav-item:last-child {
  border-left: 1px solid #cccccc;
  padding-left: 1rem;
}

.secondary-router-outlet-container {
  background-color: #fafafa;
  border-left: 1px solid #cccccc;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 90%;
  z-index: 1030;
}
